[submodule "libqdxf"]
	path = libqdxf
	url = https://github.com/ZIMA-Engineering/ZIMA-libqdxf.git
	branch = master
[submodule "3rdparty/qtkeychain"]
	path = 3rdparty/qtkeychain
	url = https://github.com/frankosterfeld/qtkeychain.git
