NavBar {
    border: 1px solid #a7adb6;
}
NavBarHeader {
    background-color:QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #eeeff0, stop:1 #bfc3ca);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #a7adb6;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding-left: 3px;
}
NavBarHeader QToolButton {
    border: none;
    background: none;
    color: #000;
    font-family: "Arial";
    font-size: 14px;
}
NavBarHeader QToolButton:checked {
    border: none;
    background: none;
    color: #000;
}
NavBarHeader QToolButton:hover {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #fffee4, stop:.4 #ffe9a8, stop:.42 #ffd767, stop:1 #ffe69f);
    color: #000;
}
NavBarHeader QToolButton:pressed {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffd9aa, stop:.4 #ffbb6e, stop:.42 #ffab3f, stop:1 #fee17a);
    color: #000;
}
NavBarSplitter:handle {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #fff, stop:1 #c3c8ce);
    background-image: url(:/styles/splitter2007black.png);
    background-position: center;
    background-repeat: no-repeat;
    border-top: 1px solid #a7adb6;
}
NavBarSplitter:handle:vertical {
    height: 6px;
}
NavBarButton {
    border-top: 1px solid #a7adb6;
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #f8f8f9, stop:.4 #dfe2e4, stop:.42 #c7cbd1, stop:1 #dbdee2);
    font-weight: bold;
}
NavBarButton:hover {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #fffee4, stop:.4 #ffe9a8, stop:.42 #ffd767, stop:1 #ffe69f);
}
NavBarButton:hover:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffbd69, stop:.4 #ffad43, stop:.42 #fb8c3c, stop:1 #ffd365);
}
NavBarButton:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffd9aa, stop:.4 #ffbb6e, stop:.42 #ffab3f, stop:1 #fee17a);
}
NavBarButton:pressed {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffd9aa, stop:.4 #ffbb6e, stop:.42 #ffab3f, stop:1 #fee17a);
}
NavBarToolBar {
    border-top: 1px solid #a7adb6;
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #f8f8f9, stop:.4 #dfe2e4, stop:.42 #c7cbd1, stop:1 #dbdee2);
}
NavBarToolBar QToolButton {
    background-color: none;
    border: 0;
}
NavBarToolBar QToolButton:hover {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #fffee4, stop:.4 #ffe9a8, stop:.42 #ffd767, stop:1 #ffe69f);
}
NavBarToolBar QToolButton:hover:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffbd69, stop:.4 #ffad43, stop:.42 #fb8c3c, stop:1 #ffd365);
}
NavBarToolBar QToolButton:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffd9aa, stop:.4 #ffbb6e, stop:.42 #ffab3f, stop:1 #fee17a);
}
NavBarToolBar QToolButton:pressed {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffd9aa, stop:.4 #ffbb6e, stop:.42 #ffab3f, stop:1 #fee17a);
}
NavBarToolBar QToolButton::menu-indicator {
    image: url(:/styles/downarrowblue.png);
    subcontrol-origin: content;
    subcontrol-position: center;
}
NavBarTitleButton {
    border-left  : 1px solid #fff;
    border-top   : 1px solid #fff;
    border-right : none;
    border-bottom: none;
    background-color: #ebebeb;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
NavBarTitleButton:hover {
    border: none;
    background-color: #ffe7a2;
}
NavBarTitleButton:pressed {
    border: none;
    background-color: #fb8c3c;
}
QFrame#navBarPopup {
    border: 1px solid #a7adb6;
    background-color: #c7cbd1;
}
QFrame#navBarPopup QSizeGrip {
    background-image: url(:/styles/sizegrip2007black.png);
    background-position: center;
    background-repeat: no-repeat;
}
NavBar QStackedWidget {
    background-color: #fff;
}
