NavBar {
    border: 1px solid #6593cf;
}
NavBarHeader {
    background-color:QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #e3efff, stop:1 #afd2ff);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #6593cf;
    color: #15428b;
    font-size: 14px;
    font-weight: bold;
    padding-left: 3px;
}
NavBarHeader QToolButton {
    border: none;
    background: none;
    color: #15428b;
    font-family: "Arial";
    font-size: 14px;
}
NavBarHeader QToolButton:checked {
    border: none;
    background: none;
    color: #15428b;
}
NavBarHeader QToolButton:hover {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #fffee4, stop:.4 #ffe9a8, stop:.42 #ffd767, stop:1 #ffe69f);
    color: #000;
}
NavBarHeader QToolButton:pressed {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffd9aa, stop:.4 #ffbb6e, stop:.42 #ffab3f, stop:1 #fee17a);
    color: #000;
}
NavBarSplitter:handle {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #f9fafc, stop:1 #bfdbff);
    background-image: url(:/styles/splitter2007blue.png);
    background-position: center;
    background-repeat: no-repeat;
    border-top: 1px solid #6593cf;
}
NavBarSplitter:handle:vertical {
    height: 6px;
}
NavBarButton {
    border-top: 1px solid #6593cf;
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #e3efff, stop:.4 #c4ddff, stop:.42 #add1ff, stop:1 #c0dbff);
    font-weight: bold;
    color: #15428b;
}
NavBarButton:hover {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #fffee4, stop:.4 #ffe9a8, stop:.42 #ffd767, stop:1 #ffe69f);
    color: #000;
}
NavBarButton:hover:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffbd69, stop:.4 #ffad43, stop:.42 #fb8c3c, stop:1 #ffd365);
    color: #000;
}
NavBarButton:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffd9aa, stop:.4 #ffbb6e, stop:.42 #ffab3f, stop:1 #fee17a);
    color: #000;
}
NavBarButton:pressed {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffd9aa, stop:.4 #ffbb6e, stop:.42 #ffab3f, stop:1 #fee17a);
    color: #000;
}
NavBarButton:disabled {
    color: rgb(128, 128, 128);
}
NavBarToolBar {
    border-top: 1px solid #6593cf;
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #e3efff, stop:.4 #c4ddff, stop:.42 #add1ff, stop:1 #c0dbff);
}
NavBarToolBar QToolButton {
    background-color: none;
    border:0;
}
NavBarToolBar QToolButton:hover {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #fffee4, stop:.4 #ffe9a8, stop:.42 #ffd767, stop:1 #ffe69f);
}
NavBarToolBar QToolButton:hover:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffbd69, stop:.4 #ffad43, stop:.42 #fb8c3c, stop:1 #ffd365);
}
NavBarToolBar QToolButton:checked {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffd9aa, stop:.4 #ffbb6e, stop:.42 #ffab3f, stop:1 #fee17a);
}
NavBarToolBar QToolButton:pressed {
    background-color: QLinearGradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #ffd9aa, stop:.4 #ffbb6e, stop:.42 #ffab3f, stop:1 #fee17a);
}
NavBarToolBar QToolButton::menu-indicator {
    image: url(:/styles/downarrowblue.png);
    subcontrol-origin: content;
    subcontrol-position: center;
}
NavBarTitleButton {
    border-left  : 1px solid #fff;
    border-top   : 1px solid #fff;
    border-right : none;
    border-bottom: none;
    background-color: #D5E4F2;
    color: #15428b;
    font-size: 14px;
    font-weight: bold;
}
NavBarTitleButton:hover {
    border: none;
    background-color: #ffe7a2;
}
NavBarTitleButton:pressed {
    border: none;
    background-color: #fb8c3c;
}
QFrame#navBarPopup {
    border: 1px solid #6593cf;
    background-color: #add1ff;
}
QFrame#navBarPopup QSizeGrip {
    background-image: url(:/styles/sizegrip2007blue.png);
    background-position: center;
    background-repeat: no-repeat;
}
NavBar QStackedWidget {
    background-color: #fff;
}
